@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
}
@font-face {
	font-family: 'GothamPro-Medium';
	src: url('../fonts/gothampro-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
}