@font-face {
	font-family: 'GothamPro';
	// src: url('../fonts/gothampro-light.woff2') format('woff2'), /* Super Modern Browsers */
	src: url('../fonts/GothamPro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
}
@font-face {
	font-family: 'GothamPro-Medium';
	// src: url('../fonts/gothampro-light.woff2') format('woff2'), /* Super Modern Browsers */
	src: url('../fonts/gothampro-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
}